.rubrik1 {
    text-align: center;
    text-shadow: 1px 1px 5px  black;
    color: darkblue;
}
.knapp {
  text-align: center;
}
.bild1 {
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}
.div1 {
  border-radius: 10px;
  box-shadow: 1px 1px 5px;
  margin-bottom: 35px;
  margin-right: 35px;
  width: 30%;
  padding: 15px;
  font-family: 'Abel';font-size: 22px;
  }
.div2 {
  display: flex;
  justify-content: center;
}